{% extends 'base.html' %}

{% block nav_subscription %}active{% endblock nav_subscription %}

{% block content %}

<div class="container">
    <div class="message">
        <p>Parabéns {{ subscription.name }}, sua inscrição foi realizada em
            <strong>{{ subscription.created_at|date:"d/m/Y" }}</strong>.<br>
            Guarde seu número de inscrição: <strong>{{ subscription.pk }}</strong>.
        </p><br>

        <p><strong>INSCRIÇÃO POR PESSOA:</strong><br>
        + R$ 120,00 até 20/03/2015<br>
        + R$ 130,00 de 21/03/2015 até 20/04/2015<br>
        + R$ 150,00 a partir de 21/04/2015</p><br>

        <p>Para concluir sua inscrição você deve realizar o depósito na conta:<br>
        Banco: <strong>Caixa Econômica Federal</strong><br>
        Agência: <strong>0052</strong><br>
        Conta Poupança: <strong>100.283-5</strong><br>
        Operação: <strong>013</strong><br>
        Titular: <strong>Lions Clube de Garanhuns</strong></p><br>

        <p>Para enviar o seu <strong>comprovante de pagamento</strong> acesse:<br>
        <a href="http://lions.ow7.com.br/comprovante/">
            http://lions.ow7.com.br/comprovante/
        </a></p><br>

        <p><strong>IMPORTANTE:</strong><br>
        1 - As datas solicitadas devem ser informadas para possibilitar as premiações.<br>
        2 - Serão consideradas como primeira inscrição individual e coletiva o primeiro crédito recebido.<br>
        3 - Os pagamentos deverão ser efetuados através de depósito bancário.<br>
        4 - Os depósitos de pagamento deverão ser identificados com o número da inscrição ou nome.</p><br>

        <p><strong>CONTATOS:</strong><br>
        CL Adjamiro Ribeiro Lopes - Tesoureiro do Evento: (87) 9926.8990 (TIM) / lionsgus@outlook.com<br>
        Gleydson Vasconcelos: (87) 9621.9176 (TIM) / gleydsonn@hotmail.com</p><br>

        <p>Todos os dados foram enviados para o email:
        <strong>{{ subscription.email }}</strong>.</p>
    </div>
</div>

{% endblock content %}
