body > .container {
  padding: 0 15px;
}
.starter-template {
  padding: 30px 15px 0;
  text-align: center;
}
.starter-template h1 {
  font-size: 45px;
  font-weight: bold;
}
.message {
  padding: 90px 0 30px;
}
.forms {
  padding: 60px 0 30px;
}
.container .text-muted {
  margin: 20px 0;
}
.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
  text-align: center;
  margin-top: 20px;
}
.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}
.form-control {
  margin: 10px 0px;
}
.control-label {
  margin: 15px 0px;
  text-align: right;
}
